*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    display: flex;
    justify-content: center;
    background-color: rgb(25, 25, 25);
    align-items: center;
    min-height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
     
}
.chatbox{
    width: 400px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
#text{
    border-radius: 15px 0 0 15px;
    border-width: 0px;
    background-color: #dbdcdc;
    height: 40px;
}
button{
    background-image: url("https://cdn3.iconfinder.com/data/icons/modifiers-essential/48/v-09-512.png");
    background-size: cover;
    background-position-y: center;
    background-color: #96afaf;
    height: 40px;
    width: 60px;
    border-radius: 0 15px 15px 0;
    margin-left: 0px;
    transition-duration: 0.4s;
    border-width: 0px;
}
button{
    transition-duration: 0.4s;
}

button:hover {
    background-color: #000000; /* Green */
    color: rgb(151, 166, 168);
    
  }

 
.input{
    padding: 5px;
    padding-left: 17px;
    display: flex;
    position: absolute;
    bottom: 0;
}
input{
   
    height: 35px;
    width: 300px;
  
   
   
}
.user{
    background-color: rgb(169, 187, 187);
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;
}
.chats{
    width: 100%;
    padding: 0 15px;
    color: black;
    position: relative;
    height: 374px;
    font-size: 0.9em;
}
.user-text{
    color: rgb(0, 0, 0);
    word-wrap: break-word;
    width: 60%;
    background-color: #a9bbbb;
    padding: 7px 10px;
    border-radius: 10px 10px 0 10px;
    margin: 5px 0 5px auto;
}

.client-text{
    color: rgb(0, 0, 0);
    word-wrap: break-word;
    width: 60%;
    background-color: #a9bbbb;
    padding: 7px 10px;
    border-radius: 10px 10px 10px 0;
    margin: 10px 0;
}
.date{
    font-size: 11px;
    color: rgb(92, 92, 92);
}


img{
    border-radius: 50px;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 5px;
}

#content{
    overflow-y: scroll;
    
    
}